<div class="search">
    <div class="toggle-mode"
         [class.right]="activeViewMode === viewModes.STABLE"
         [class.left]="activeViewMode === viewModes.ALL">
        <div class="toggle-mode-item"
             [class.active]="activeViewMode === viewModes.ALL"
             (click)="changeViewMode(viewModes.ALL)">
            <span class="gradient-text">All</span>
        </div>
        <div class="toggle-mode-item active"
             [class.active]="activeViewMode === viewModes.STABLE"
             (click)="changeViewMode(viewModes.STABLE)">
            <span class="gradient-text">Stable</span>
        </div>
    </div>
    <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" [formControl]="searchControl" nz-input placeholder="Search"/>
    </nz-input-group>
    <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
    </ng-template>
</div>
<nz-table #table [nzData]="filteredData"
          [nzShowPagination]="false"
          nzTableLayout="auto"
          [nzPageSize]="100">
    <thead>
    <tr>
        <th *ngFor="let column of listOfColumns"
            [nzSortOrder]="column.sortOrder"
            [nzWidth]="column.nzWidth"
            [nzSortFn]="column.sortFn"
            [nzSortDirections]="column.sortDirections">
            <span>
                {{ column.name }}
            </span>
        </th>
    </tr>
    </thead>
    <tbody *ngIf="activeDeposits.length">
    <tr>
        <div class="connect-wallet-warning">
            <span>Your deposits</span>
        </div>
    </tr>
    <ng-container *ngFor="let reserve of table.data">
        <tr class="pointer" *ngIf="reserve.haveDeposit"
            (click)="navigate(reserve)">
            <td class="asset">
                <div class="icon">
                    <img [src]="reserve.assetPictureUrl" [alt]="reserve.name">
                </div>
                <span class="desktop-only"> {{reserve.name}} ({{reserve.symbol}})</span>
                <span class="mobile-only"> {{reserve.symbol}} </span>
            </td>
            <td>
                <ng-container *ngIf="!(account$ | async)">
                    -
                </ng-container>
                <ng-container *ngIf="(account$ | async)">
                    <b>
                        {{
                        getWalletBalanceByAsset(reserve.symbol) ?
                            (getWalletBalanceByAsset(reserve.symbol) | bigNum: reserve.decimals) :
                            '-'
                        }}
                    </b>
                    {{reserve.symbol}}

                </ng-container>
            </td>
            <td>
                <div class="green bold">
                    {{reserve.liquidityRate | bigNum: 25}} %
                </div>
            </td>
            <td>
                <div class="flex-centered">
                    <a routerLink="/deposit/{{reserve.symbol}}/{{reserve.id}}" class="evl-btn outline">Details</a>
                </div>
            </td>
        </tr>
    </ng-container>

    </tbody>
    <tbody>
    <tr *ngIf="otherReserves.length">
        <div class="connect-wallet-warning">
            <span>All available cryptocurrencies for deposit</span>
        </div>
    </tr>
    <ng-container
            *ngFor="let reserve of table.data">
        <tr class="pointer" *ngIf="!reserve?.haveDeposit"
            (click)="navigate(reserve)">
            <td class="asset">
                <div class="icon">
                    <img [src]="reserve.assetPictureUrl" [alt]="reserve.name">
                </div>
                <span class="desktop-only"> {{reserve.name}} ({{reserve.symbol}})</span>
                <span class="mobile-only"> {{reserve.symbol}} </span>
            </td>
            <td>
                <ng-container *ngIf="!(account$ | async)">
                    -
                </ng-container>
                <ng-container *ngIf="(account$ | async)">
                    <b>
                        {{
                        getWalletBalanceByAsset(reserve.symbol) ?
                            (getWalletBalanceByAsset(reserve.symbol) | bigNum: reserve.decimals) :
                            '-'
                        }}
                    </b>
                    {{reserve.symbol}}

                </ng-container>
            </td>
            <td>
                <div class="green bold">
                    {{reserve.liquidityRate | bigNum: 25}} %
                </div>
            </td>
            <td>
                <div class="flex-centered">
                    <a routerLink="/deposit/{{reserve.symbol}}/{{reserve.id}}" class="evl-btn outline">Details</a>
                </div>
            </td>
        </tr>
    </ng-container>

    </tbody>

</nz-table>

