@import "src/assets/styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  .row-overview {
    padding: 24px;
    background: var(--contentBackground);
    color: var(--textColor);
    border-radius: 2px;
    margin-bottom: 24px;


    > .flex-row {
      &:nth-child(2) {
        margin-top: 15px;
      }

      > .col {
        width: 25%;

        &:nth-child(2) {
          width: 42%;
        }
      }
    }

    .flex-row {
      display: flex;
      justify-content: space-between;
    }

    .composition {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 50%;

      .bar-holder {
        background: #EDEDED;
        width: 60%;
        border-radius: 22px;
        overflow: hidden;
        height: 16px;
      }

      .progress {
        background-color: $pendingYellow;
        width: 70%;
        border-radius: 22px;
        height: 100%;
      }
    }

    .col {
      text-align: center;

      .key {
        margin-bottom: 8px;
        height: 24px;
        display: inline-block;
        text-align: left;
        width: 118px;
      }

      &.balance {
        text-align: right;

        > .value {
          margin-left: 10px;
        }


        img {
          margin-right: 10px;
        }
      }
    }
  }
}

.main-content {
  display: grid;
  justify-items: center;
  background: var(--contentBackground);
  color: var(--textColor);
  height: 100%;
  border-radius: 2px;
  padding: 24px;
  overflow: auto;
}


.composition-bar {
  width: 250px;

  ::ng-deep {
    .bar {
      margin: 0
    }
  }
}
