.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--contentBackground);
  color: var(--textColor);
}


.fee-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  align-items: center;
}
