@import "src/assets/styles/variables";

.wrapper {
  display: flex;
  justify-content: space-between;
}


.main {
  width: calc(100% - 470px);
  background-color: var(--contentBackground);
  color: var(--textColor);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary {
  width: 450px;
  display: flex;
  flex-direction: column;

  .card {
    height: 100%;
  }


  .wallet-balance {
    padding: 20px 24px;
    border-radius: 2px;
    background-color: var(--contentBackground);
    color: var(--textColor);
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  .wallet-balance-item {
    text-align: center;

    .key {
      margin-bottom: 10px;
    }
  }
}


.card {
  border-radius: 2px;
  background-color: var(--contentBackground);
  color: var(--textColor);
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;

  .flex-row {
    padding: 0 24px;

    &.historical-rate {
      margin-top: auto;
    }
  }

  &-title {
    height: 64px;
    background-color: var(--contentBackground);
    color: $red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    font-weight: 500;

    img {
      width: 34px;
      height: 34px;
      object-fit: contain;
      margin-right: 10px;
    }
  }
}

::ng-deep {
  .ct-point {
    stroke: var(--green);
  }

  .ct-line {
    stroke: var(--green);
  }

  .ct-label {
    color: var(--textColor);
  }

  .ct-grid {
    stroke: var(--textColor);
  }
}

@media screen and (max-width: 850px) {

  .secondary {
    width: 100%;

    .card {
      height: unset;
    }
  }

  .main {
    display: none;
  }

  .wallet-balance {
    display: flex;
    flex-direction: column;

    .wallet-balance-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .key {
        margin-bottom: unset;
      }
    }

    .wallet-balance-item:last-child {
      margin-top: 10px;
    }
  }
}
