<div class="deposit-step" *ngIf="emptyState">
    <div class="title">
        Your balance is zero
    </div>
    <div class="message">
        Your balance of {{reserve?.symbol}} is 0. Transfer LTC to your wallet to be able to deposit
    </div>
    <button routerLink="/deposit" class="evl-btn red mt">Go back</button>
</div>
<ng-container *ngIf="!emptyState">
    <div class="deposit-step" *ngIf="currentStep === steps.USER_INPUT">
        <div class="title">
            Repay
        </div>
        <div class="message">
            How much do you want to repay?
        </div>
        <div class="asset-input" [class.invalid]="amountControl?.invalid && amountControl.touched">
            <div class="head">
                <div class="key">Available to repay</div>
                <div class="value"><b>{{availableToRepay | bigNum: reserve?.decimals}}</b> {{reserve?.symbol}}</div>
            </div>
            <nz-input-group [nzSuffix]="suffixCurrency" [nzPrefix]="prefixIcon">
                <input maxAmount
                       [maxAvailable]="availableToRepay"
                       [decimals]="reserve.decimals"
                       [control]="amountControl"
                       [formControl]="amountControl"
                       nz-input type="number"
                       placeholder="Amount">
            </nz-input-group>
            <ng-template #suffixCurrency>
                <button class="gradient-text inline" (click)="setMax(100)">MAX</button>
            </ng-template>
            <ng-template #prefixIcon>
                <img class="asset-icon" [src]="reserve.assetPictureUrl">
            </ng-template>
            <div class="quick-select">
                <div class="quick-select-item" (click)="setMax(25)">25%</div>
                <div class="quick-select-item" (click)="setMax(50)">50%</div>
                <div class="quick-select-item" (click)="setMax(75)">75%</div>
                <div class="quick-select-item" (click)="setMax(100)">MAX</div>
            </div>
        </div>
        <button class="evl-btn red" (click)="checkAmount()">Continue</button>
        <button class="back" routerLink="../choose">Go back</button>
    </div>
    <div class="deposit-step" *ngIf="currentStep === steps.TRANSACTION_DETAILS">
        <div class="title">Repay overview</div>
        <div class="message">
            These are your transaction details. Make sure to check if this is correct before submitting.
        </div>
        <div class="transaction-details">
            <div class="details stats">
                <div class="flex-row">
                    <div class="key">Amount to repay</div>
                    <div class="col">
                        <div class="value">
                            <img class="asset-icon" [src]="reserve.assetPictureUrl" alt="">
                            <b>{{amountControl?.value || 0}}</b> {{reserve.symbol}}
                        </div>
                        <div class="sub-total">
                            $ {{(amountControl?.value * +reserve.priceInUsd) | number: '1.2'}}</div>
                    </div>
                </div>
                <div class="flex-row">
                    <div class="key">Remaining to repay</div>
                    <div class="col">
                        <div class="value">
                            <img class="asset-icon" [src]="reserve.assetPictureUrl" alt="">
                            <b>{{remainingToRepay.inCoins | number: '1.0-2'}}</b> {{reserve.symbol}}
                        </div>
                        <div class="sub-total">$ {{remainingToRepay.inUsd | number: '1.0-2'}}</div>
                    </div>
                </div>
                <div class="flex-row">
                    <div class="key">Current health factor</div>
                    <div class="value"><b class="green">{{healthFactor | number: '1.0-2'}}</b></div>
                </div>
                <div class="flex-row no-margin">
                    <div class="key">New health factor</div>
                    <div class="value"><b class="green">0.00</b></div>
                </div>
            </div>
        </div>
        <app-transaction
                (approve)="approve()"
                (submit)="submit()"
                [config]="transactionConfig"
                [currentFlowStep]="currentTransactionsStatus"></app-transaction>
        <button class="back" (click)="changeStep(steps.USER_INPUT)">Go back</button>
    </div>
</ng-container>
