@import "src/assets/styles/variables";
@import "../../../deposit/components/deposit/deposit.component";

:host {
  .main {
    padding: 15px 0 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    flex: auto;
  }
}

.flex-row {
  &.historical-rate {
    margin-top: auto;

    .value {
      display: flex;
      align-items: center;

      &:before {
        content: '';
        width: 10px;
        height: 10px;
        display: block;
        margin-right: 8px;
        background-color: $brown;
        border-radius: 50%;
      }
    }
  }
}

.col {
  &.secondary {
    margin-left: 20px;
    @media screen and (max-width: 768px) {
      margin-left: 0;
    }

    .card {
      display: flex;
      flex-direction: column;
    }
  }
}

.fee-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  align-items: center;
}

.row-overview {
  padding: 24px;
  background-color: var(--contentBackground);
  color: var(--textColor);
  border-radius: 2px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 575px) {
    padding: 5px;
  }

  .col {
    text-align: center;
    @media screen and (max-width: 575px) {
      padding: 10px;
    }


    .key {
      margin-bottom: 8px;
      height: 24px;
      @media screen and (max-width: 575px) {
        margin-bottom: 40px;
      }
    }

    &.balance {
      text-align: right;

      img {
        margin-right: 10px;
      }
    }
  }
}

.health-factor-container {
  margin-top: 32px;
}
