div {
  display: flex;
  align-items: center;

  .right-arrow-icon {
    margin: 0 10px;
    fill: var(--darkGreen);
  }

  .green-icon {
    fill: var(--contentBackground);
    stroke: var(--darkGreen);
  }
}
