@import "src/assets/styles/variables";

.transaction-container {

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      color: var(--textColor);
    }
  }

  nz-list {
    padding: 0 20px;
    margin: 0 20px;
    border: 1px solid #000000;

    nz-list-item {
      border-bottom: none;

      .collateral-container {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }

  a {
    color: var(--textColor);
  }

  .amount-container {
    .coin-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      img {
        width: 30px;
        height: 30px;
        padding-right: 10px;
      }
    }

    .usd-container {
      display: flex;
      justify-content: flex-end;
      font-size: 12px;
      color: #9a9da2;
    }
  }

}

h2 {
  font-size: 18px;
  margin-bottom: 30px;
}


