//@import "src/assets/styles/transaction-details";
@import "src/assets/styles/variables";

:host {
  display: block;
  width: 100%;
}

.transaction-status {
  border: 1px solid var(--textColor);;
  border-radius: 5px;
  overflow: hidden;
  color: var(--textColor);

  &.pending {
    border: 1px solid $pendingYellow;
    color: $pendingYellow;

    .steps-item {
      background: $pendingYellow;
      color: #ffffff;
    }
  }

  //&.success {
  //  border: 1px solid $green !important;
  //  color: $green;
  //
  //  .steps-item {
  //    background: $green !important;
  //    color: #ffffff;
  //  }
  //}

  .steps {
    display: flex;

    &-item {
      width: 50%;
      height: 35px;
      background-color: #FAFAFA;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $black;

      &.active {
        background: linear-gradient(90deg, #DA4D7B 0%, #F05948 100%);
        color: #ffffff;
      }

      &.success {
        background: $green;
        color: #ffffff;
      }
    }
  }

  &-body {
    padding: 12px 20px;

    .overview-body {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .error {
        font-size: 16px;
      }

      .info {
        line-height: 1.5;
        max-width: 250px;
        min-height: 44px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
          margin-bottom: 0;
        }
      }
    }
  }

  &-footer {
    height: 34px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    border-top: 1px solid #BFBFBF;
    color: var(--textColor);

    .status {
      margin-left: auto;

      @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
      }

      img.rotate {
        animation: rotation 2s infinite linear;
      }

      &.dot-green {

        &:after {
          content: '';
          width: 10px;
          height: 10px;
          display: block;
          margin-left: 8px;
          background-color: $green;
          border-radius: 50%;
        }
      }

    }

    .etherscan {
      margin-left: 35px;
    }

    .status,
    .etherscan {
      display: flex;
      align-items: center;
      color: var(--textColor);

      i {
        margin-left: 5px;
      }
    }

  }
}


