@import "src/assets/styles/variables";

.slider-container {

  .slider-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;

    .green-title {
      color: $lightGreen;
    }
  }

  ::ng-deep {
    .ant-slider-rail, .ant-slider-track {
      background: linear-gradient(90deg, #66C271 0%, #FDA957 52.6%, #DC5B5C 100%) !important;
    }

    .ant-slider-track {
      display: none;
    }

    .ant-slider-handle {
      border: 2px solid $lightGreen;

      &:focus {
        border-color: $lightGreen !important;
        box-shadow: $lightGreen;
      }

      &:hover {
        border-color: $lightGreen !important;
        box-shadow: $lightGreen;
      }
    }

    &:hover .ant-slider-handle:not(.ant-tooltip-open) {
      border-color: $lightGreen !important;
    }
  }
}

