@import "src/assets/styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--contentBackground);
  color: var(--textColor);

  .row-overview {
    padding: 24px;
    background-color: var(--contentBackground);
    color: var(--textColor);
    border-radius: 2px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;

    .collateral {
      > div {
        display: flex;
        justify-content: space-between;

        span:first-child {
          padding-right: 10px;
        }
      }
    }

    .composition {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      width: 26%;

      .bar-holder {
        width: 70%;
      }
    }

    .col {
      text-align: center;

      .key {
        margin-bottom: 8px;
        height: 24px;
      }

      &.balance {
        text-align: right;

        img {
          margin-right: 10px;
        }
      }
    }
  }
}


.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--contentBackground);
  color: var(--textColor);
  height: 100%;
  border-radius: 2px;
  padding: 24px;
}
