<div class="wrapper">
    <div class="row-overview">
        <div class="col">
            <div class="key">Your balance</div>
        </div>
        <div class="col balance">
            <div class="key">
                <img class="asset-icon" [src]="reserve.assetPictureUrl" alt="">
                <b>{{(balance || 0) | bigNum: reserve?.decimals}}</b> {{reserve.symbol}}
            </div>
            <div class="value">
                $ {{(balanceInUsd || 0) | number: '1.0-2'}}
            </div>
        </div>
        <div class="col">
            <div class="key">
                Health factor
                <app-tooltip-info [data]="INFO.HEALTH_FACTOR"></app-tooltip-info>
            </div>
            <div class="value">
                <b class="green">{{healthFactor | number: '1.0-2'}}</b>
            </div>
        </div>
        <div class="col collateral">
            <div class="key">
                <span>Your collateral</span>
                <span>$ <b>{{collateralTotal | number: '1.2'}} </b> USD</span>
            </div>
            <div class="key">
                <span>ETH equivalent</span>
                <span> {{collateralEthereumEquivalent }} ETH</span>
            </div>
        </div>
        <div class="col">
            <div class="key">Loan to value</div>
            <div class="value">
                <b>{{reserve.baseLTVasCollateral | bigNum: 4 | percent }}</b>
            </div>
        </div>

        <div class="composition">
            <div class="key">
                Collateral composition
            </div>
            <div class="bar-holder">
                <app-composition-bar [config]="compositionConfig"></app-composition-bar>
            </div>

        </div>
    </div>
    <div class="main-content">
        <div class="deposit-step" *ngIf="currentFlowStep === steps.USER_INPUT">
            <div class="title">
                Withdraw
            </div>
            <div class="message">
                How much do you want to withdraw?
            </div>
            <div class="asset-input" [class.invalid]="amountControl?.invalid && amountControl.touched">
                <div class="head">
                    <div class="key">Available to withdraw</div>
                    <div class="value">
                        <b>{{userReserve?.scaledATokenBalance | bigNum: reserve.decimals}}</b> {{reserve?.symbol}}</div>
                </div>
                <nz-input-group [nzSuffix]="suffixCurrency" [nzPrefix]="prefixIcon">
                    <input
                            maxAmount
                            [maxAvailable]="userReserve?.scaledATokenBalance"
                            [decimals]="reserve.decimals"
                            [control]="amountControl"
                            [formControl]="amountControl"
                            nz-input type="number"
                            placeholder="Amount">
                </nz-input-group>
                <ng-template #suffixCurrency>
                    <button class="gradient-text inline" (click)="setMax(100)">MAX</button>
                </ng-template>
                <ng-template #prefixIcon>
                    <img class="asset-icon" [src]="reserve.assetPictureUrl">
                </ng-template>
                <div class="quick-select">
                    <div class="quick-select-item" (click)="setMax(25)">25%</div>
                    <div class="quick-select-item" (click)="setMax(50)">50%</div>
                    <div class="quick-select-item" (click)="setMax(75)">75%</div>
                    <div class="quick-select-item" (click)="setMax(100)">MAX</div>
                </div>
            </div>
            <button class="evl-btn red mt" (click)="checkAmount()">Continue</button>
            <button class="back" routerLink="/deposit">Go back</button>
        </div>
        <div class="deposit-step" *ngIf="currentFlowStep === steps.TRANSACTION_DETAILS">
            <div class="title">
                Withdraw
            </div>
            <div class="message">
                These are your transaction details. Make sure to check if this is correct before submitting.
            </div>
            <div class="transaction-details">
                <div class="details stats">
                    <div class="flex-row">
                        <div class="key">Amount</div>
                        <div class="col">
                            <div class="value">
                                <img class="asset-icon" [src]="reserve.assetPictureUrl" alt="">
                                <b>{{amountControl?.value}}</b> {{reserve.symbol}}
                            </div>
                            <div class="sub-total">
                                $ {{(amountControl?.value * +reserve.priceInUsd) | number: '1.0-2'}}</div>
                        </div>

                    </div>
                    <div class="flex-row ">
                        <div class="key">Current health factor</div>
                        <div class="value"><b class="green">{{healthFactor | number: '1.0-2'}}</b></div>
                    </div>
                    <div class="flex-row no-margin">
                        <div class="key">New Health factor</div>
                        <div class="value" class="green"><b>{{nextHealthFactor | number: '1.0-2'}}</b></div>
                    </div>
                </div>
            </div>
            <app-transaction (submit)="submit()"
                             (approve)="approve()"
                             [currentFlowStep]="currentTransactionsStatus"
                             [config]="transactionConfig"></app-transaction>
            <button class="back" (click)="changeStep(steps.USER_INPUT)">Go back</button>
        </div>
    </div>
</div>
