<ng-container *ngIf="(account$ | async)">
    <div class="toggle-mode"
         [class.right]="activeViewMode === viewModes.Borrowings"
         [class.left]="activeViewMode === viewModes.Deposit">
        <div class="toggle-mode-item"
             [class.active]="activeViewMode === viewModes.Deposit"
             (click)="changeViewMode(viewModes.Deposit)">
            <span class="gradient-text">Deposits</span>
        </div>
        <div class="toggle-mode-item active"
             [class.active]="activeViewMode === viewModes.Borrowings"
             (click)="changeViewMode(viewModes.Borrowings)">
            <span class="gradient-text">Borrowings</span>
        </div>
    </div>

    <router-outlet></router-outlet>
</ng-container>



<div class="content-wrapper" *ngIf="!(account$ | async)">
    <app-wallet-not-connected></app-wallet-not-connected>
</div>
