@import "src/assets/styles/variables";

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

  h3 {
    margin-bottom: 20px;
    color: $black;
  }

  p {
    margin-bottom: 40px;
  }
}
