<div class="centering-wrapper">
    <div class="connect-wallet">
        <div class="connect-wallet-text">
            {{subTitle}}
        </div>
        <button [hidden]="!mobileView" (window:resize)="onResize($event)" class="evl-btn red" (click)="redirectToHome()">
            Got it
        </button>
         <button [hidden]="mobileView" (window:resize)="onResize($event)" class="evl-btn red" (click)="connectWallet()">
             Connect
         </button>
        <button class="back" [routerLink]="route" *ngIf="route">
            Go back
        </button>
    </div>

</div>
