.deposit-container {
  height: calc(100% - 60px);

  .balance-container {
    display: flex;
    min-width: 100%;
    min-height: 200px;
    background: var(--contentBackground);
    color: var(--textColor);
    margin-bottom: 15px;
    padding: 20px;

    .left-section, .right-section {
      width: 50%;
    }

    .left-section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-right: 1px solid #EDEDED;
      padding-right: 20px;

      .row {
        display: flex;
        justify-content: space-between;

        .approximate-balance {
          display: flex;

          .info {
            padding-left: 10px;
          }
        }

        .balance-counter {
          font-weight: bold;
        }
      }
    }
  }

  .action-buttons {
    display: flex;
    justify-content: space-between;

    button {
      width: 45%;
      outline: unset;
    }
  }
}
