.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: var(--textColor);

  .title {
    font-size: 18px;
  }

  .content {
    text-align: center;
    padding: 24px 0 48px 0;
  }
}
