@import "../../../../../assets/styles/variables";

.search-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  color: var(--textColor);

  .search {
    display: flex;
    flex-direction: column;
    width: 30%;

    i {
      color: var(--textColor);
    }

    .title {
      margin-bottom: 10px;
    }

    nz-input-group {
      margin-left: auto;
      padding: 10px 20px
    }

    ::ng-deep nz-select nz-select-top-control {
      height: 44px;
      background: var(--contentBackground);
      color: var(--textColor);
      border: 1px solid var(--tableBorder);
    }

    nz-select nz-select-top-control nz-select-search {
      padding: 6px 20px;
    }

    .slider {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      nz-slider {
        width: 85%;
      }
    }

    .slider-info {
      display: flex;
      justify-content: space-between;
      width: 85%;
    }
  }
}


:host {
  ::ng-deep .ant-table-column-sorter-full {
    display: none;
  }

  th {
    &:nth-child(1) {
      width: 5%;
      min-width: 45px;
    }

    &:nth-child(2) {
      width: 20%;
    }

    &:nth-child(3) {
      width: 20%;
    }

    &:nth-child(4) {
      width: 20%;
    }

    &:nth-child(5) {
      width: 20%;
    }

    &:nth-child(6) {
      width: 20%;
    }

    &:nth-child(7) {
      width: 5%;
      min-width: 45px;
    }
  }
}

::ng-deep nz-table table {
  > col {
    display: none;
  }
}
