<div class="search-container">


    <div class="search" [formGroup]="filters">
        <div class="title">
            Search for address
        </div>
        <nz-input-group [nzSuffix]="suffixIconSearch">
            <input formControlName="addressSearch" type="text" nz-input placeholder="0x00000"/>
        </nz-input-group>
        <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
        </ng-template>
    </div>

    <div class="search" [formGroup]="filters">
        <div class="title">
            Asset
        </div>
        <nz-select nzShowSearch
                   formControlName="assets"
                   nzMode="multiple"
                   nzPlaceHolder="Please select"
                   [nzDropdownClassName]="'custom-multiply-select'">
            <nz-option *ngFor="let option of assetsFilterOptions" [nzLabel]="option"
                       [nzValue]="option">
            </nz-option>
        </nz-select>
    </div>

    <div class="search" [formGroup]="filters">
        <div class="title">
            Amount
        </div>
        <div>
            <div class="slider">
                <nz-slider
                        formControlName="amount"
                        [nzMin]="amountSlider.min"
                        [nzMax]="amountSlider.max">

                </nz-slider>
                <div class="red">
                    $ {{ amountSlider.current }}
                </div>
            </div>
            <div class="slider-info">
                <span>{{ amountSlider.min }}</span>
                <span>{{ amountSlider.max | number: '1.0' }}</span>
            </div>
        </div>
    </div>
</div>
<nz-table #table [nzData]="filteredLiquidations"
          [nzShowPagination]="false"
          [nzPageSize]="100"
          [nzScroll]="{ y: 'calc(100vh - 260px)'}">
    <thead>
    <tr>
        <th *ngFor="let column of listOfColumns"
            [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzSortDirections]="column.sortDirections">
            <span>
                {{ column.name }}
                <ng-container *ngIf="column.name === 'Health factor'">
                    <app-tooltip-info [data]="INFO.HEALTH_FACTOR"></app-tooltip-info>
                </ng-container>
            </span>
        </th>
    </tr>
    </thead>
    <tbody>
    <nz-collapse nzAccordion>
        <ng-container *ngFor="let item of table.data; let liqIndex = index">
            <app-liquidation-item [liquidation]="item"></app-liquidation-item>
        </ng-container>
    </nz-collapse>

    </tbody>
</nz-table>

