<div class="empty-list-container">
    <div class="centering-wrapper">
        <div class="empty-list-content">
            <div class="empty-list-content-title">
                {{config.title}}
            </div>
            <div class="empty-list-content-text" [innerHTML]="config.content">
            </div>
            <div class="empty-list-content-text" [innerHTML]="config.secondContent">
            </div>
            <button class="evl-btn red" [routerLink]="config.mainButton.route">
                {{config.mainButton.title}}
            </button>
            <button class="back" [routerLink]="config.secondButton.route">
                {{config.secondButton.title}}
            </button>
        </div>
    </div>
</div>
