$black: #363c46;
$red: #e45363;
$lightGreen: #69C271;
$green: #2B6100;
$brown: #9F3000;
$purple: #84205D;
$pendingYellow: #fdac57;

:root {
  --containerBackground: #f0f2f5;
  --contentBackground: #fff;
  --headerBackground: #fafafa;
  --textColor: #000;
  --green: #2B6100;
  --orange: #9F3000;
  --tableBorder: #EDEDED;
  --toggleBorder: #BFBFBF;
  --darkGreen: #2B6100;
  --red: #e45363;
}
