<div class="ren-container">
    <div class="ren-content">
        <div [formGroup]="currenciesForm">
            <nz-select nzShowSearch
                       [nzPlaceHolder]="suffixCurrency"
                       [nzCustomTemplate]="currencyContent"
                       formControlName="currency">
                <nz-option nzCustomContent
                           *ngFor="let currency of currencies"
                           [nzValue]="currency"
                           [nzLabel]="currency.symbol">
                    <div class="crypto-option-content">
                        <div>
                            <img class="asset-icon" [src]="currency.imageLink"
                                 [alt]="currency.symbol">
                            {{currency.symbol}}
                        </div>
                        <div>
                            {{currency.name}}
                        </div>
                    </div>
                </nz-option>
            </nz-select>
            <ng-template #suffixCurrency>
                <div>
                    <img class="asset-icon" src="assets/icons/question-mark.svg" alt="question mark">
                    <span>Fil</span>
                </div>
            </ng-template>
            <ng-template #currencyContent>
                <div class="selected-content">
                    <img class="asset-icon" [src]="currenciesForm.get('currency').value.imageLink" alt="mark">
                    <span>{{currenciesForm.get('currency').value.symbol}}</span>
                </div>
            </ng-template>
        </div>
        <div class="balance-container">
            <span *ngIf="account$ | async; else balance">Your ren{{this.currenciesForm.get('currency')?.value.symbol}}
                balance: {{this.currenciesForm.get('amount')?.value}}
                ren{{this.currenciesForm.get('currency')?.value.symbol}}</span>
            <ng-template #balance>
                <span>Connect to see your balance</span>
            </ng-template>
        </div>
        <div>
            <nz-tabset nzType="card">
                <nz-tab nzTitle="Mint">
                    <div class="tab-content" [formGroup]="mintForm">
                        <nz-input-group class="eth-address">
                            <input placeholder="Recipient (Ethereum address)" formControlName="address" nz-input/>
                        </nz-input-group>
                        <button *ngIf="account$ | async; else connectButton"
                                (click)="makeMint()"
                                class="evl-btn red mt"
                                [disabled]="mintForm.invalid || currenciesForm.invalid">Mint
                        </button>
                        <ng-template #connectButton>
                            <button (click)="connectWallet()" class="evl-btn red mt">Connect ethereum wallet</button>
                        </ng-template>
                        <div class="submit-info" *ngIf="watchingDeposits">
                            <div class="deposit">
                                <span>Deposit at least: {{mintTransaction.amount}}
                                    <b>{{this.currenciesForm.get('currency')?.value.symbol || 'Fil'}}</b> to</span>
                                <span><b>Address: </b>
                                    <span class="red pointer" (click)="copyMintAddress()"
                                          *ngIf="!mintAddressCopied; else copied">{{mintTransaction.address}}</span>
                                    <ng-template #copied>
                                        <span>Copied</span>
                                    </ng-template>
                                </span>
                            </div>
                            <div class="watching-deposit">
                                <span>Watching for deposits...</span>
                            </div>
                        </div>
                        <div class="error-container" *ngIf="errorMint">
                            {{errorMint}}
                        </div>
                    </div>
                </nz-tab>
                <nz-tab nzTitle="Burn">
                    <div class="tab-content" [formGroup]="burnForm">
                        <nz-input-group class="eth-address">
                            <input placeholder="Recipient (Testnet {{this.currenciesForm.get('currency')?.value.name || 'Filecoin'}} address)"
                                   formControlName="address" nz-input/>
                        </nz-input-group>
                        <nz-input-group [nzSuffix]="suffixAmount" class="amount-input">
                            <input nz-input
                                   type="number"
                                   placeholder="Amount"
                                   formControlName="amount">
                        </nz-input-group>
                        <ng-template #suffixAmount>
                            <div class="amount-btn-container">
                                <div>
                                    <button class="gradient-text inline" (click)="setMax()">MAX</button>
                                </div>
                                <div>
                                    {{this.currenciesForm.get('currency')?.value.symbol || 'Fil'}}
                                </div>
                            </div>
                        </ng-template>
                        <button *ngIf="account$ | async; else connectButton"
                                (click)="makeBurn()"
                                class="evl-btn red mt"
                                [disabled]="burnForm.invalid || currenciesForm.invalid">Burn
                        </button>
                        <ng-template #connectButton>
                            <button (click)="connectWallet()" class="evl-btn red mt">Connect wallet</button>
                        </ng-template>
                        <div class="error-container" *ngIf="errorText">
                            {{errorText}}
                        </div>
                    </div>
                </nz-tab>
            </nz-tabset>
        </div>
    </div>
    <div *ngIf="mintDeposits.length" class="deposits-container">
        <div class="transaction-info" *ngFor="let item of mintDeposits">
            <span><b>Received</b> {{item.amount}} {{this.currenciesForm.get('currency')?.value.symbol}}</span>
            <span><b>RenVM Hash:</b> {{item.renVMHash}}</span>
            <span><b>Status:</b> {{item.status}}</span>
            <span><b>Bitcoin tx:</b> <a class="red" target="_blank"
                                        href="{{item.transactionLink}}"> {{item.transactionHash}}</a></span>
            <span *ngIf="item.status === renStatuses.DETECTED"><b>Confirmations:</b>
                {{item.confirmationsCurrent}}/{{item.confirmationsTotal}}
            </span>
            <span class="red" *ngIf="item.error">
                {{item.error}}
            </span>
            <button class="evl-btn outline submit-deposit-btn"
                    (click)="submitDeposit(item)"
                    *ngIf="item.status === renStatuses.SIGNED">
                Submit to Ethereum {{item.status}}
            </button>
        </div>
    </div>
    <div class="transaction-info" *ngIf="showBurnSubmitContainer">
        <span><b>Burn {{this.burnForm.get('amount')?.value}} {{this.currenciesForm.get('currency')?.value.symbol}} </b> to {{this.burnForm.get('address')?.value}}</span>
        <span><b>RenVM Hash:</b> {{burnTransactionInfo.renHash}}</span>
        <span><b>Status:</b> {{burnTransactionInfo.status}}</span>
        <span><b>Confirmations:</b> {{burnTransactionInfo.confirmations}}
            /{{burnTransactionInfo.totalConfirmations}}</span>
        <span><b>Ethereum tx:</b> <a class="red" target="_blank"
                                     href="{{burnTransactionInfo.ethereumTX}}"> {{burnTransactionInfo.ethereumTX}}</a></span>
    </div>
</div>
