@import "src/assets/styles/variables";

.flex-content {
  display: flex;
  flex-direction: column;
  width: 905px;
  align-items: center;
  text-align: center;
  max-width: 90%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  p {
    margin: 0;
    &.sub-text {
      margin-bottom: 1.5em;
    }

    a {
      font-weight: 500;
      color: $black;
    }
  }

  h1 {
    font-size: 42px;
    font-weight: 700;
  }

  button {
    margin: 50px 0;
    width: 267px;
    height: 64px;
    padding: 12px 24px;
    border-radius: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .continue {
    color:  #F05948;
    font-weight: 500;
    margin-bottom: 3em;

    i {
      margin-left: 12px;
    }
  }
}



