<div class="wrapper">
    <div class="flex-content">
        <h1 class="gradient-text">Welcome to Evolution</h1>
        <p>Connect your wallet and jump into DeFi</p>
        <button (click)="connect()">
            <img src="assets/icons/metamask.svg" >
            <span>MetaMask</span>
            <i nz-icon nzType="right" nzTheme="outline"></i>
        </button>
        <a routerLink="/markets" class="continue gradient-text">
            or continue without wallet
            <i nz-icon nzType="right" nzTheme="outline"></i>
        </a>
        <p class="sub-text">By unlocking your wallet you agree to our <a >Terms of Conditions</a>  and <a >Privacy Policy</a> </p>
        <p >TopDisclaimer. Wallets are provided by External providers and by selecting you agree to Terms of those Providers. Your access to the wallet  maight be reliant on the External Provider being operational.</p>
    </div>
</div>
