<div [ngClass]="{'dark-theme': isDarkTheme$ | async}">
    <section class="top-section">
        <div class="logo">
            <img src="assets/images/logo_white.png" alt="Evolution finance" *ngIf="isDarkTheme$ | async; else darkLogo">
            <ng-template #darkLogo>
                <img src="assets/images/logo.png" alt="Evolution finance">
            </ng-template>
        </div>
        <div class="market-size">
            <div class="title">
                Current Market Size
            </div>
            <div class="value gradient-text">
                $ {{marketSize | fNumber}}
            </div>
        </div>
    </section>
    <div class="toggle-mode-container">
        <div class="toggle-mode"
             [class.right]="activeViewMode === viewModes.NATIVE"
             [class.left]="activeViewMode === viewModes.USD">
            <div class="toggle-mode-item"
                 [class.active]="activeViewMode === viewModes.USD"
                 (click)="changeViewMode(viewModes.USD)">
                <span class="gradient-text">USD</span>
            </div>
            <div class="toggle-mode-item active"
                 [class.active]="activeViewMode === viewModes.NATIVE"
                 (click)="changeViewMode(viewModes.NATIVE)">
                <span class="gradient-text">Native</span>
            </div>
        </div>
    </div>

    <nz-table #basicTable [nzData]="data"
              [nzShowPagination]="false"
              [nzPageSize]="100">
        <thead>
        <tr class="table-header">
            <th *ngFor="let column of listOfColumns"
                [nzSortOrder]="column.sortOrder"
                [nzWidth]="column.nzWidth"
                [nzSortFn]="column.sortFn"
                [nzSortDirections]="column.sortDirections">
            <span *ngIf="!column.subName">
                {{ column.name }}
            </span>
                <div *ngIf="column.subName">
                    <div class="sub-name">{{column.subName}}</div>
                    {{ column.name }}
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="pointer"
            *ngFor="let reserve of getAsMarketReserves(basicTable.data)"
            (click)="navigate(reserve)">
            <td class="asset">
                <div class="icon">
                    <img [src]="reserve.assetPictureUrl" [alt]="reserve.name">
                </div>
                <span class="desktop-only"> {{reserve.name}} ({{reserve.symbol}})</span>
                <span class="mobile-only"> {{reserve.symbol}} </span>
            </td>
            <td>
                <b *ngIf="activeViewMode === viewModes.NATIVE">
                    {{util.getBigSum(reserve.totalScaledVariableDebt, reserve.totalPrincipalStableDebt) | bigNum: reserve.decimals | fNumber}}
                </b>
                <b *ngIf="activeViewMode === viewModes.USD">
                    $ {{util.getBorrowTotalInUsd(reserve) | fNumber}}
                </b>
            </td>
            <td>
                <div class="liquidity-rate bold">
                    {{reserve.liquidityRate | bigNum: 25 | fNumber}} %
                </div>
                <!--            <div class="past-avg">-->
                <!--                Past 30D Avg. <b> 99.99 </b>%-->
                <!--            </div>-->
            </td>
            <td>
                <div class="borrow-rate bold">
                    {{reserve.variableBorrowRate | bigNum: 25}} %
                </div>
                <!--            <div class="past-avg">-->
                <!--                Past 30D Avg. <b> 99.99 </b>%-->
                <!--            </div>-->
            </td>
            <!--        <td>-->
            <!--            <div class="purple bold">-->
            <!--                {{reserve.stableBorrowRate | bigNum: 25}} %-->
            <!--            </div>-->
            <!--        </td>-->
        </tr>
        </tbody>
    </nz-table>
</div>
