@import "src/assets/styles/variables";

.top-section {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 530px) {
    padding: 0 0 16px 0;
  }


  .logo {
    width: 216px;
  }

  .market-size {
    text-align: right;

    .title {
      font-size: 18px;
      font-weight: 500;
      color: var(--textColor);
      margin-bottom: 20px;
    }

    .value {
      font-size: 42px;
      font-weight: 700;
      @media screen and (max-width: 530px) {
        text-align: center;
        font-size: 24px;
      }
    }
  }
}

.toggle-mode {
  margin-bottom: 16px;
}


tr {
  cursor: pointer;


}

tbody {
  tr {
    td {
      .liquidity-rate {
        color: var(--green);
      }

      .borrow-rate {
        color: var(--orange);
      }
    }
  }
}

th {
  .sub-name {
    font-size: 12px;
    font-weight: normal
  }
}

.ant-table-wrapper {
  height: 650px;
  overflow: auto;
}

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 850px) {

  .top-section {
    flex-direction: column;
    align-items: center;

    .market-size {
      margin-top: 24px;
    }
  }

  .toggle-mode-container {
    display: flex;
    justify-content: center;
  }

  .ant-table-wrapper {
    height: 500px;
    overflow: auto;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }
}
