<div class="content-wrapper">
    <ng-container *ngIf="(account$ | async)">
        <div *ngIf="deposits.length; else noDeposits">
            <ng-container *ngIf="currentFlowStep === steps.USER_INPUT">
                <div class="deposit-step">
                    <div class="title">
                        Swap
                    </div>
                    <div class="message">
                        This swap functionality only <b>contains the assets you deposited</b> in the Aave Protocol. For
                        more
                        information on the swap feature, please read the <a class="gradient-text" target="_blank" href="https://evolution-finance.gitbook.io/evolution-finance/">FAQ</a> .
                    </div>
                    <div class="swap-row">
                        <div class="select-holder" [formGroup]="from">
                            <div class="label">From</div>
                            <nz-select nzShowSearch nzPlaceHolder="Asset"
                                       formControlName="userReserve">
                                <nz-option nzCustomContent
                                           *ngFor="let uReserve of deposits"
                                           [nzValue]="uReserve"
                                           (click)="resetAmount('from')"
                                           [nzLabel]="uReserve.reserve.symbol">
                                    <img class="asset-icon" [src]="uReserve.reserve.assetPictureUrl"
                                         [alt]="uReserve.reserve.symbol">
                                    {{uReserve.reserve.symbol}}
                                </nz-option>
                            </nz-select>
                            <div class="deposit-rate">
                                Deposit rate <b class="green">
                                {{
								userReserveFrom?.reserve ?
									(userReserveFrom?.reserve?.liquidityRateFormatted | fNumber) + '%' :
									'0 %'
                                }}</b>
                            </div>
                        </div>
                        <div class="input-holder">
                            <div class="available">
                                <span>Available</span>
                                <b>{{
									userReserveFrom?.scaledATokenBalance ?
										(userReserveFrom?.scaledATokenBalance | bigNum: userReserveFrom?.reserve?.decimals : 4) :
										0.00
                                    }}</b>
                            </div>
                            <nz-input-group [formGroup]="from">
                                <input maxAmount
                                       [maxAvailable]="userReserveFrom?.scaledATokenBalance || 0"
                                       [decimals]="userReserveFrom?.reserve?.decimals"
                                       [control]="from.get('amount')"
                                       formControlName="amount"
                                       nz-input type="number"
                                       placeholder="Amount">
                            </nz-input-group>
                            <div class="total green">
                                = $ {{subtotalFrom | number: '1.0-2'}}
                            </div>
                        </div>

                        <div class="input-holder">
                            <div class="available">

                            </div>
                            <nz-input-group [formGroup]="to">
                                <input formControlName="amount"
                                       nz-input type="number"
                                       [disabled]="true"
                                       placeholder="Amount">
                            </nz-input-group>
                            <div class="total green">
                                = $ {{subtotalTo | number: '1.0-2'}}
                                (- {{slippageControl.value ? slippageControl.value + 0.3 : 2.3}} %)
                            </div>
                        </div>
                        <div class="select-holder" [formGroup]="to">
                            <div class="label">To</div>
                            <nz-select nzShowSearch
                                       formControlName="reserve"
                                       (ngModelChange)="calculateAmountTo()"
                                       nzPlaceHolder="Asset">
                                <nz-option nzCustomContent
                                           *ngFor="let item of reserves"
                                           [nzValue]="item"
                                           [nzLabel]="item.symbol">
                                    <img class="asset-icon" [src]="item.assetPictureUrl" alt="">
                                    {{item.symbol}}
                                </nz-option>
                            </nz-select>
                            <div class="deposit-rate">
                                Deposit rate <b class="green">
                                {{
								reserveTo ?
									(reserveTo?.liquidityRateFormatted | fNumber) + '%' :
									'0 %'
                                }}</b>
                            </div>
                        </div>
                    </div>
                    <div class="swap-details">
                        <div class="flex-row">
                            <div class="key">Deposit rate change</div>
                            <div class="value green">
                                <b>
                                    {{
									userReserveFrom?.reserve ?
										(userReserveFrom?.reserve?.liquidityRateFormatted | fNumber) + '%' :
										'0 %'
                                    }}
                                </b>
                                <i nz-icon nzType="double-right" nzTheme="outline"></i>
                                <b>
                                    {{
									reserveTo ?
										(reserveTo?.liquidityRateFormatted | fNumber) + '%' :
										'0 %'
                                    }}
                                </b>
                            </div>
                        </div>
                        <div class="flex-row">
                            <div class="key">New health factor</div>
                            <div class="value green">
                                <b>
                                    {{healthFactor | number: '1.0-2'}}
                                </b>

                                <i nz-icon nzType="double-right" nzTheme="outline"></i>
                                <b>
                                    {{nextHealthFactor | number: '1.0-2'}}
                                </b>

                            </div>
                        </div>
                        <div class="flex-row red-icon">
                            <div class="key">Max slippage
                                <i nz-icon nzType="setting" nzTheme="outline" (click)="toggleSlippage()"></i>
                            </div>
                            <div class="value green"><b>{{slippageControl.value || 2}} %</b></div>
                        </div>
                        <div class="flex-row slippage-check" *ngIf="showSlippage">
                            <div class="quick-select">
                                <div class="quick-select-item" (click)="setMaxSlippage(0.1)">0.1%</div>
                                <div class="quick-select-item" (click)="setMaxSlippage(0.5)">0.5%</div>
                                <div class="quick-select-item" (click)="setMaxSlippage(1)">1%</div>
                                <input maxAmount
                                       [maxAvailable]="30"
                                       [decimals]="0"
                                       [control]="slippageControl"
                                       [formControl]="slippageControl"
                                       placeholder="Custom"
                                       class="quick-select-item input">
                            </div>
                        </div>
                        <div class="flex-row red-icon">
                            <div class="key">Fees</div>
                            <div class="value green"><b>0.3%</b></div>
                        </div>
                    </div>
                    <button class="evl-btn red" (click)="checkAmount()">Continue</button>
                    <button class="back" routerLink="/deposit">Go back</button>
                </div>
            </ng-container>

            <div class="deposit-step" *ngIf="currentFlowStep === steps.TRANSACTION_DETAILS">
                <div class="title">
                    Swap overview
                </div>
                <div class="message">
                    These are your transaction details. Make sure to check if this is correct before submitting.
                </div>
                <div class="transaction-details">
                    <div class="details stats">
                        <div class="flex-row">
                            <div class="key">Amount</div>
                            <div class="col">
                                <div class="value">
                                    <img class="asset-icon" [src]="userReserveFrom.reserve.assetPictureUrl" alt="">
                                    <b>{{from?.value.amount }}</b> {{userReserveFrom.reserve.symbol}}
                                </div>
                                <div class="sub-total">
                                    $ {{subtotalFrom | number: '1.0-2'}}</div>
                            </div>
                        </div>
                        <div class="flex-row">
                            <div class="key">Amount</div>
                            <div class="col">
                                <div class="value">
                                    <img class="asset-icon" [src]="reserveTo.assetPictureUrl" alt="">
                                    <b>{{to?.getRawValue()?.amount}}</b> {{reserveTo.symbol}}
                                </div>
                                <div class="sub-total">
                                    $ {{subtotalTo | number: '1.0-2'}} </div>
                            </div>
                        </div>
                        <div class="flex-row ">
                            <div class="key">Current health factor
                                <app-tooltip-info [data]="INFO.HEALTH_FACTOR"></app-tooltip-info>
                            </div>
                            <div class="value"><b class="green">{{healthFactor | number: '1.0-2'}}</b></div>
                        </div>
                        <div class="flex-row ">
                            <div class="key">New health factor</div>
                            <div class="value"><b class="green">{{nextHealthFactor | number: '1.0-2'}}</b></div>
                        </div>
                        <div class="flex-row ">
                            <div class="key">Maximum slippage</div>
                            <div class="value"><b class="green">{{slippageControl.value}} %</b></div>
                        </div>
                        <div class="flex-row no-margin">
                            <div class="key">Fees</div>
                            <div class="value"><b class="green">0.3 %</b></div>
                        </div>
                    </div>
                    <app-transaction
                            (submit)="submitSwap()"
                            (approve)="approve()"
                            [currentFlowStep]="currentTransactionsStatus"
                            [config]="transactionConfig"></app-transaction>
                </div>
                <button class="back" (click)="changeStep(steps.USER_INPUT)">Go back</button>
            </div>
        </div>
    </ng-container>
    <app-wallet-not-connected *ngIf="!(account$ | async)"></app-wallet-not-connected>
    <ng-template #noDeposits>
        <app-empty-list [config]="emptyListConfig"></app-empty-list>
    </ng-template>
</div>
