<div class="content-wrapper">
    <div class="deposit-step">
        <div class="title">
            {{targetSwitchValue ?
            'Use this currency as collateral' :
            'Do not use this currency as collateral'
            }}
        </div>
        <div class="message">Your transaction details</div>
        <div class="transaction-details">
            <div class="details stats">
                <div class="flex-row">
                    <div class="key">Currency</div>
                    <div class="value">
                        <img class="asset-icon" [src]="reserve.assetPictureUrl" alt="">{{reserve.symbol}}
                    </div>
                </div>
                <div class="flex-row ">
                    <div class="key">Current health factor</div>
                    <div class="value"><b class="green">{{healthFactor | number: '1.0-2'}}</b></div>
                </div>
                <div class="flex-row no-margin">
                    <div class="key">New Health factor</div>
                    <div class="value"><b class="green">{{nextHealthFactor | number: '1.0-2'}}</b></div>
                </div>
            </div>
        </div>
        <app-transaction
                (submit)="submit()"
                [currentFlowStep]="currentTransactionsStatus"
                [config]="transactionConfig"></app-transaction>
        <a routerLink="/dashboard" class="back">Go back</a>
    </div>
</div>
